#!/usr/bin/env bash

# List Justfile funcntions
##echo ; echo "⚡️ Justfile ⚡️" ; just ; echo ; sleep 1

# Set source repository host
export CODE_REPO_HOST=git.localtest.me
# Set container and package registry
export CONTAINER_REGISTRY=git.localtest.me

# Silence Dagger Cloud
export SHUTUP=1

# Load env vars from `.env` files
# Export all:
# - (should be) .gitignored
# - (potentially) secret environment variables
# - from dotenv-formatted files w/names starting w/`.env`
DOTENV_FILES="$(find . -maxdepth 1 -type f -name '.env*' -and -not -name '.envrc')"
for file in ${DOTENV_FILES}; do
  dotenv "${file}"
done
export DOTENV_FILES


# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:
##eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

# in case you use nix-shell
# if command -v nix-shell &>/dev/null; then
#   use flake
# fi
